In [ ]:
#TASK 1 Write a function to find moving average in an array over a window:
#Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [17]:

def move_avg(x,k):
    n=len(x)
    l=[]
    for i in range(0,n-k+1,1):
        sum=0
        for j in range(0,k):
            sum=sum+x[i+j]
        l.append(sum/3)
    return l

In [18]:
k=3
l=[3,5,7,2,8,10,11,65,72,81,99,100,150]
result=move_avg(l,k)
print(result)

[5.0, 4.666666666666667, 5.666666666666667, 6.666666666666667, 9.666666666666666, 28.666666666666668, 49.333333333333336, 72.66666666666667, 84.0, 93.33333333333333, 116.33333333333333]

In [ ]:
#TASK 2.1 How-to-count-distance-to-the-previous-zero
#For each value, count the difference back to the previous zero (or the start of the Series,
#whichever is closer)
#create a new column 'Y'
#Consider a DataFrame df where there is an integer column 'X'
#import pandas as pd
#df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [10]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'x':[7,2,0,3,4,25,0,3,4]})

def count_dist_zero(y):
    l=df[df['x']==y].index.values.astype(int)[0]
    j=l-1
    while(j>=0):
        if df.iloc[j].x!=0:
            j=j-1
        elif df.iloc[j].x==0:
            return l-j   
    
df['y']=df['x'].apply(count_dist_zero)
print("Output:")
df

Output:

    x    y
0   7  NaN
1   2  NaN
2   0  NaN
3   3  1.0
4   4  2.0
5  25  3.0
6   0  NaN
7   3  1.0
8   4  2.0

In [ ]:
#TASK 2.2
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
#random numbers.

In [13]:
import pandas as pd
import numpy.random as np
index = pd.date_range('2015-01-01', '2015-12-31',freq='B')
data=np.randint(500,1500,len(index))
s = pd.Series(data, index=index)
s

2015-01-01    1182
2015-01-02    1309
2015-01-05    1029
2015-01-06     593
2015-01-07     687
2015-01-08     728
2015-01-09    1185
2015-01-12     838
2015-01-13    1003
2015-01-14    1207
2015-01-15     654
2015-01-16     513
2015-01-19    1231
2015-01-20    1304
2015-01-21     789
2015-01-22     636
2015-01-23    1187
2015-01-26    1421
2015-01-27     761
2015-01-28    1488
2015-01-29    1357
2015-01-30    1366
2015-02-02     578
2015-02-03     533
2015-02-04     958
2015-02-05    1141
2015-02-06    1368
2015-02-09    1303
2015-02-10     935
2015-02-11    1222
              ...
2015-11-20     527
2015-11-23     977
2015-11-24    1346
2015-11-25     738
2015-11-26     620
2015-11-27     686
2015-11-30     576
2015-12-01    1216
2015-12-02     662
2015-12-03     594
2015-12-04     569
2015-12-07     835
2015-12-08     714
2015-12-09     924
2015-12-10    1276
2015-12-11     959
2015-12-14     624
2015-12-15     756
2015-12-16    1399
2015-12-17     939
2015-12-18     732
2015-12-21     754
2015-12-22    1014
2015-12-23     560
2015-12-24     768
2015-12-25     595
2015-12-28     740
2015-12-29    1041
2015-12-30     940
2015-12-31    1074
Freq: B, Length: 261, dtype: int32

In [ ]:
#TASK 2.3
#Find the sum of the values in s for every Wednesday

In [14]:
s.groupby(s.index.weekday_name).sum().Wednesday

51062

In [ ]:
#TASK2.4
#Average For each calendar month

In [15]:
s.groupby(s.index.month).mean()

1     1021.272727
2      888.850000
3     1030.000000
4     1054.636364
5      880.619048
6      984.909091
7     1097.739130
8     1043.952381
9      890.090909
10     917.818182
11     895.904762
12     855.869565
dtype: float64

In [ ]:
#TASK2.5
#For each group of four consecutive calendar months in s, find the date on which the highest
#value occurred.

In [8]:
high_4 = s.groupby(pd.TimeGrouper('4M')).max()
high_4 = pd.Series(high_4[0:4]).index
print(high_4)

DatetimeIndex(['2015-01-31', '2015-05-31', '2015-09-30', '2016-01-31'], dtype='datetime64[ns]', freq=None)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.